@model List<DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarServiciosResult>

@{
    ViewBag.Title = "Index";
}

<h2>Gestionar Servicios</h2>

@*Boton de agregar un nuevo servicio*@
<div class="mb-3 text-end">
    @Html.ActionLink("Nuevo Servicio", "CrearServicio", "GestionarServicios", null, new { @class = "btn btn-success" })
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Estado</th>
            <th>Consultar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarServiciosResult item in this.Model)
        {
            <tr>
                <td>@item.Id_servicio</td>
                <td>@item.Nombre_servicio</td>
                <td>@item.Precio.ToString("C")</td>
                <td>@item.Nombre_categoria</td>
                <td>@item.Estado</td>
                <td>
                    @Html.ActionLink("Consultar", "CrearServicio", "GestionarServicios", new { id = item.Id_servicio }, new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>