@model List<DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobroResult>

@{
    ViewBag.Title = "Index";
}

<h2>Gestionar Cobros</h2>

@*Filtro para empleados*@

<form method="get" class="row g-3 mb-4">
    <div class="mb-3">
        <label for="IdCliente" class="form-label"></label>
        <select id="IdCliente" name="IdCliente" class="form-control">
            <option value="">Seleccione un cliente</option>
        </select>
    </div>
    <div class="col-md-2">
        <input type="number" name="mes" class="form-control" placeholder="Mes" min="1" max="12" value="@Request["mes"]" />
    </div>
    <div class="col-md-2">
        <input type="number" name="anno" class="form-control" placeholder="Año" value="@Request["anno"]" />
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>

@*Boton de agregar un nuevo cobro*@
<div class="mb-3 text-end">
    @Html.ActionLink("Nuevo Cobro", "Crear", "Empleado", null, new { @class = "btn btn-success" })
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th># Cobro</th>
            <th>Nombre de Casa</th>
            <th>Propietario</th>
            <th>Periodo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobroResult item in this.Model)
        {
            <tr>
                <td>@item.Id_cobro</td>
                <td>@item.Nombre_casa</td>
                <td>@item.Nombre_cliente</td>
                <td>@item.Periodo</td>
                <td>@item.Estado</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">

        function loadDropdown(url, parametros, ddl, selected) {
            $.get(url, parametros, function (data) {
                ddl.empty();
                ddl.append($('<option>', { value: '', text: 'Seleccione un cliente' }));
                $.each(data, function (i, item) {
                    ddl.append($('<option>', {
                        value: item.Id,
                        text: item.Nombre,
                        selected: item.Id == selected
                    }));
                });
            });
        }
        $(document).ready(function () {
            loadDropdown('/Empleado/ObtenerClientesActivos', {}, $('#IdCliente'), '@Request["IdCliente"]');
        });

    </script>
}
