@model List<DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobroResult>

@{
    ViewBag.Title = "Index";
}

<h2>Gestionar Cobros</h2>

<form method="get" class="row g-3 mb-4">
    <div class="col-md-4">
        <input type="text" name="nombreCliente" class="form-control" placeholder="Nombre del Cliente" value="@Request["nombreCliente"]" />
    </div>
    <div class="col-md-2">
        <input type="number" name="mes" class="form-control" placeholder="Mes" min="1" max="12" value="@Request["mes"]" />
    </div>
    <div class="col-md-2">
        <input type="number" name="anno" class="form-control" placeholder="Año" value="@Request["anno"]" />
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th># Cobro</th>
            <th>Nombre de Casa</th>
            <th>Propietario</th>
            <th>Periodo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobroResult item in this.Model)
        {
            <tr>
                <td>@item.Id_cobro</td>
                <td>@item.Nombre_casa</td>
                <td>@item.Nombre_cliente</td>
                <td>@item.Periodo</td>
                <td>@item.Estado</td>
            </tr>
        }
    </tbody>
</table>
