@model List<DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobrosUsuarioResult>


@{
    ViewBag.Title = "Index";
}

<h2>Mis Cobros</h2>

<br />

@*Boton agregar un nuevo cobro*@

<div class="mb-3 text-end">
    @Html.ActionLink("Nuevo Cobro", "Crear", "Usuario", null, new { @class = "btn btn-success" })
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th># Cobro</th>
            <th>Nombre de Casa</th>
            <th>Propietario</th>
            <th>Periodo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobrosUsuarioResult item in this.Model)
        {
            <tr>
                <td>@item.Id_cobro</td>
                <td>@item.Nombre_casa</td>
                <td>@item.Nombre_cliente</td>
                <td>@item.Periodo</td>
                <td>@item.Estado</td>
            </tr>
        }
    </tbody>
</table>

