@model ProyectoFinalPogragamacionVI.Models.EditarServiciosCobroViewModel

<h2>Modificar cobro</h2>

<table class="table">
    <tbody>
        <tr>
            <th>Casa</th>
            <td>@Model.NombreCasa</td>
        </tr>
        <tr>
            <th>Propietario</th>
            <td>@Model.NombreCliente</td>
        </tr>
        <tr>
            <th>Mes</th>
            <td>@Model.Mes</td>
        </tr>
        <tr>
            <th>Año</th>
            <td>@Model.Año</td>
        </tr>
        <tr>
            <th>Monto</th>
            <td>@Model.Monto.ToString("C")</td>
        </tr>
    </tbody>
</table>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.IdCobro)

    <h3>Servicios</h3>
    <ul>
        @for (int i = 0; i < Model.Servicios.Count; i++)
        {
            <li>
                @Html.HiddenFor(m => m.Servicios[i].IdServicio)
                <input type="checkbox"
                       name="Servicios[@i].Seleccionado"
                       value="true"
                       @(Model.Servicios[i].Seleccionado ? "checked" : "") />
                @Html.DisplayFor(m => m.Servicios[i].Nombre)
                @Html.Hidden("Servicios[" + i + "].Seleccionado", "false")  @* ERnviar false cuando no está chequeado *@
            </li>
        }
    </ul>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="@Url.Action("Detalle", new { id = Model.IdCobro })" class="btn btn-secondary">Regresar</a>
}

